body{
	padding: 0;
	margin:0;
}
h1 {
	text-align: center;
	color: red;
}
.topo form{
	text-align: center;
	margin: auto;
}
.topo{
	border: 1px  solid black;
	height: 150px;
	width: 500px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	padding: 10px;
	border-radius: 10px;
	background: #EEE;
} 
span{
	background: red;
	padding: 7px;
	color: #FFF;
	border-radius: 5px;
}
input {
	border-radius: 10px;
	border: 1px  solid black;
	height: 24px;
}
.container{
	max-width: 1025px;
	width: 100%;
	margin: auto;
	border: 1px solid black;
	margin-top: 250px;
	min-height: 300px;
	background: #eee;
	border-radius: 5px;
}

.imagens{ 
	height: 185px;
	border: 1px solid black;
	width: 130px;
	float: left;
	padding: 10px;
	margin-left: 25px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	margin-bottom: 10px;
}
#submit{
	border: 1px solid #FFF;
	background: black;
	color: #FFF;
	cursor: pointer;
	padding: 5px;
}